<%= form_for(@cove) do |f| %>
  <% if @cove.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cove.errors.count, "error") %> prohibited this cove from being saved:</h2>

      <ul>
      <% @cove.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
